<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Amidar/src/amidar/AmidarSimulator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="amidar.AmidarSimulator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-simple config/amidar.json gps/test/AcquisitionTest true&#10;-Xlint:-options"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Amidar"/>
</launchConfiguration>
